.search {
  display: flex;
  align-items: baseline;
  &:focus-within {
    border-color: aqua;
  }
}
.search:focus-within {
  border-color: blue;
  outline: none;
}

input {
  outline: none;
  &:focus-within {
    border-color: rgb(60, 128, 230);
  }
}
